.banner {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: start;
  }

  .button {
    margin-top: 40px;
    padding: 15px 60px;
    background-color: #F71963;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
}

.text-h1,
.text-h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: #fff;
}

.text-h1 {
  font-size: 48px;
  font-weight: 500;
}

.text-h2 {
  font-size: 36px;
  font-weight: 500;
}

.no-line {
  &::before,
  &::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .banner .banner-content {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .text-h1 {
    font-size: 24px;
  }

  .text-h2 {
    font-size: 18px;
  }
  
}