.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.product-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product-card {
  margin: 0 40px 0 40px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
  }

  .product-info {
    padding: 12px; 
    text-align: left;

    h3 {
      font-size: 16px;
      font-weight: 100;
      margin: 5px 0;
      color: #3F3F40;
      text-transform: lowercase;

    }

    .price-container {
      margin-bottom: 8px;
      display: grid;


      .old-price {
        color: #808080;
        text-decoration: line-through;
        margin-right: 5px;
        font: 100;
      }

      .new-price {
        color: #3F3F40;
        font-weight: bold;
      }
    }

    .installments {
      font-size: 12px;
      color: #3F3F40;
      margin-bottom: 5px;
    }

    .free-shipping {
      font-weight: 100;
      font-size: 12px;
      color: #F71963; 
    }

    .buy-button {
      background-color: #f71963;
      color: #fff;
      padding: 10px 80px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin-top: 5px;
      
    }
  }
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:disabled,
.next-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
